---
services:
  traefik:
    image: traefik:v3.1.5
    container_name: traefik
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080"
    volumes:
      - /var/run/docker/sock:/var/run/docker.sock
      - ./traefik.yaml:/etc/traefik/traefik.yaml
    networks:
      - frontend
    restart: unless-stopped
networks:
  frontend:
    external: true

